<app-page-header [content]="pageContent.header"></app-page-header>
<div class="container">
    <!--<div class="mx-auto">
    <app-page-header [content]="pageContent.header"></app-page-header>
    </div>-->
    <div class="card shadow-sm bg-white rounded" *ngFor="let teacher of teachers">
        <div class="imgBox">
            <img src="{{teacher.imageURL}}"> 
        </div>
        <div class="details">
            <div class="content">
               <h2>{{teacher.name}}<br><span>{{teacher.payRate}}</span></h2>  
               <app-rating-thumbs [rating]="teacher.rating"></app-rating-thumbs>
               <br>
               <br>
                <a routerLink="/teachers/{{teacher._id}}">Read More</a> &nbsp; 
                <a routerLink="/teachers/{{teacher._id}}/calendar">Book Now</a>
            </div>
        </div>
    </div>
</div>
