<div class="container">
    <div class="card">
        <div class="imgBox">
            <img src="/app_public/src/assets/images/etty-fidele-VNYCIbZju0o-unsplash.jpg"> 
        </div>
        <div class="details">
            <div class="content">
                <h2>Bobby Johnson<br><span>English Teacher</span></h2>
                <ul>
                   <li><a href="#">In</a></li> 
                   <li><a href="#">Fb</a></li>
                   <li><a href="#">YT</a></li> 
                </ul>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBox">
            <img src="/app_public/src/assets/images/christina-wocintechchat-com-c-mgSuxqpzA-unsplash.jpg">
        </div>
        <div class="details">
            <div class="content">
                <h2>Chrissy Kim<br><span>History Teacher</span></h2>
                <ul>
                   <li><a href="#">In</a></li> 
                   <li><a href="#">Fb</a></li>
                   <li><a href="#">YT</a></li> 
                </ul>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="/src/assets/images/eye-for-ebony-aZzXKGcyWqk-unsplash (1).jpg"> 
        </div>
        <div class="details">
            <div class="content">
                <h2>Victoria Brown<br><span>French Teacher</span></h2>
                <ul>
                   <li><a href="#">In</a></li> 
                   <li><a href="#">Fb</a></li>
                   <li><a href="#">YT</a></li> 
                </ul>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="/app_public/src/assets/images/sergio-de-paula-c_GmwfHBDzk-unsplash (1).jpg"> 
        </div>
        <div class="details">
            <div class="content">
                <h2>Jesus Lopez<br><span>Geometry Teacher</span></h2>
                <ul>
                   <li><a href="#">In</a></li> 
                   <li><a href="#">Fb</a></li>
                   <li><a href="#">YT</a></li> 
                </ul>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

</div>
