<nav class="navbar fixed-top navbar-dark" style="background-color: rgba(14, 93, 108, 0.75)">
    <a routerLink="" class="navbar-brand" href="#">Book A Teacher</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsibleNavbar">
        <ul class="nav flex-column flex-sm-row text-md-right">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li> 
            <li class="nav-item"><a routerLink="teachers" routerLinkActive="teachers" class="nav-link">Meet the Teacher</a></li> 
            <li class="nav-item"><a class="nav-link" href="#">New Teachers</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
            <li class="nav-item"><a routerLink="about" routerLinkActive="about" class="nav-link">About</a></li> 
        </ul>
      </div>  
    
    <!--<a class="toggle">Menu</a>
        <ul class="nav flex-column flex-sm-row">
            <li class="nav-item"><a class="flex-md-fill text-md-right nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="flex-md-fill text-md-right nav-link" href="#">Meet the Teacher</a></li>
            <li class="nav-item"><a class="flex-md-fill text-md-center nav-link" href="#">New Teachers</a></li>
            <li class="nav-item"><a class="flex-md-fill text-md-center nav-link" href="#">Resources</a></li>
            <li class="nav-item"><a class="flex-md-fill text-md-center nav-link" href="#">About</a></li>
        </ul>
    </div>-->
</nav>

<!--<script type="text/javascript">
    $(document).ready(function() {
        $('.toggle').click(function() {
            $('div').toggleClass('active');
        })
    })
</script> -->