<main id="contents" role="main">
    <section id="about-us" class="navSection">
        <div class="container">
            <div class="row row-rel">
                <div class="col text-center">
                    <h3 id="about-us-link">
                        Available Resources
                    </h3>
                    <p class="lead text-warning pb-5">
                        Below are available resources that may be beneficial for you and your children during the pandemic.   
                    </p>
                    <div id="carouselServices" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="fas fa-book fa-5x"></i>
                                        </div>
                                        <h4 class="text-dark">
                                            Reading Eggs
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            Reading Eggs program focuses on a core reading curriculum of skills and strategies essential for sustained reading success. Reading Eggs offers a 30-day free trial to test out their program. After the free trial, there's a monthly $9.95 fee to use Reading Eggs. Reading Eggs are for students between the ages of 2-13 years old.  
                                        </p>
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="fas fa-language fa-5x"></i>
                                        </div>
                                        <h4 class="text-dark">
                                          Duolingo
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            Duolingo is a fun language-learning resource for those who want to learn a new language. They offer fun bite-size lessons feel more like a game than a textbook. This resource is for students age 10 and up. Doulingo is a free.
                                        </p> 
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="fas fa-school fa-5x"></i> 
                                        </div>
                                        <h4 class="text-dark">
                                            LYNDA
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            Lynda.com is a leading online learning platform that helps anyone learn business, software, technology and creative skills to achieve personal and professional goals. LYNDA offers a free 30-day trial to test out the courses available on their site. After the free trial, there's a $29.99 monthly fee. LYNDA is more for students who are in high school and up.  
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <a class="click" href="https://lightbot.com/hour-of-code.html"><i class="fas fa-code fa-5x"></i></a>
                                        </div>
                                        <h4 class="text-dark">
                                            Lightbot: Code Hour
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            Lightbot - Code Hour is meant to introduce kids who have no experience whatsoever programming, and is all-ages friendly! That means anyone anywhere from K to 12 can play, have fun and learn real programming logic!
                                        </p>
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="fas fa-school fa-5x"></i>
                                        </div>
                                        <h4 class="text-dark">
                                            edX
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            edX is the trusted platform for education and learning. edX is reimagining the possibilities of education, providing the highest-quality, stackable learning experiences including the groundbreaking MicroMasters® programs. Depending on what course you chose from, some may be free and some may not. 
                                        </p> 
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="fas fa-calculator fa-5x"></i>
                                        </div>
                                        <h4 class="text-dark">
                                            Photomath
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                            Learn math, check homework and study for upcoming tests and ACTs/SATs with the most used math learning app in the world! Got tricky homework or class assignments? Get unstuck ASAP with our step-by-step explanations and animations.Photomath is free and works without wi-fi or data. Whether you’re on the bus, in a cave, or just offline, core Photomath is always available.
                                            We’ve got you covered from basic arithmetic to advanced calculus and geometry. You CAN do math!
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="carousel-item"> 
                                <div class="row">
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="far fa-star fa-5x"></i> 
                                        </div>
                                        <h4 class="text-dark">
                                            Multi-language support
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                           Fugiat esse aute tempor dolore mollit pariatur do laborum nulla consectetur aliqua exercitation officia pariatur. Incididunt dolore sint magna laboris consequat ullamco sit. Nisi dolore qui voluptate officia deserunt esse Lorem commodo magna ipsum. 
                                        </p>
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="far fa-star fa-5x"></i> 
                                        </div>
                                        <h4 class="text-dark">
                                            Multi-language support
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                           Fugiat esse aute tempor dolore mollit pariatur do laborum nulla consectetur aliqua exercitation officia pariatur. Incididunt dolore sint magna laboris consequat ullamco sit. Nisi dolore qui voluptate officia deserunt esse Lorem commodo magna ipsum. 
                                        </p> 
                                    </div>
                                    <div class="col-md px-md-5">
                                        <div class="text-dark pb-3">
                                            <i class="far fa-star fa-5x"></i> 
                                        </div>
                                        <h4 class="text-dark">
                                            Multi-language support
                                        </h4>

                                        <br>
                                        <p class="text-secondary">
                                           Fugiat esse aute tempor dolore mollit pariatur do laborum nulla consectetur aliqua exercitation officia pariatur. Incididunt dolore sint magna laboris consequat ullamco sit. Nisi dolore qui voluptate officia deserunt esse Lorem commodo magna ipsum. 
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    
                        <ol class="carousel-indicators">
                            <li data-target="#carouselServices" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselServices" data-slide-to="1"></li>
                            <li data-target="#carouselServices" data-slide-to="2"></li>
                        </ol>

                        <a class="carousel-control-prev" href="#carouselServices" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                            
                        </a>
                        <a class="carousel-control-next" href="#carouselServices" data-slide="next"> 
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span> 
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>