
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book A Teacher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script-->
</head>
  <body>
    <div class="container">
      <div class="containter">
        <h1>Welcome to Book A Teacher!</h1>
        <h3> Connecting Students and Teachers</h3>
        <p>Safe learning from home with one session at a time.</p>
        <p><a class="btn btn-primary btn-lg" routerLink="about" routerLinkActive="about" role="button">More about Book A Teacher&raquo;</a></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Students</h2>
          <p>Book a Teacher is a resource for students to meet safely with qualified educators in a safe comfortable environment. </p>
          <p><a class="btn btn-primary btn-lg" routerLink="teachers" routerLinkActive="teachers" role="button">Book A Teacher &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Teachers</h2>
          <p>Book a Teacher provides an opportunity for educators to meet with students on their own time outside of the traditional classroom environment. </p>
          <p><a class="btn btn-primary btn-lg" routerLink="teacherform" routerLinkActive="teacherform" role="button">Meet Students &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Resources</h2>
          <p>See resources for parents and students to get through the current pandemic.</p>
          <p><a class="btn btn-primary btn-lg" routerLink="resources" routerLinkActive="resources" role="button">Get Resources &raquo;</a></p>
        </div>
      </div>
    </div>
    <!--<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script-->
    <!--script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script-->
    <!--script src="../../dist/js/bootstrap.min.js"></script-->
  </body>
</html>
